Repository bcgov/jag-efax, pull requests merged in 2021-07, with the labels that each got.

#36 Code Climate GitHub action
  .github/workflows/code-climate-coverage-aggregation.yml
  pom.xml
Labels: Git Action

#46 Initial unit tests
  src/test/java/ca/bc/gov/ag/efax/mail/util/DateUtilTest.java
  src/test/java/ca/bc/gov/ag/efax/mail/util/FaxUtilsTest.java
Labels: QA

#58 Create Github Action for build and push Webservice Image
  .github/workflows/dev-efax-service-build.yaml
Labels: github action, openshift

#60 Updated main Readme
  .env.template
  README.md
  docker-compose.yml
  src/main/java/ca/bc/gov/ag/efax/mail/service/EmailServiceImpl.java
Labels: documentation
